<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Ajouter une nouvelle ecriture</h1>
    <p class="mb-4">
        <a routerLink="/dashboard/home/admin-employees" class="btn btn-primary">Retour</a>
    </p>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">company name</h6>
            <div>date</div>
        </div>
       
    </div>


    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <div>
                <h6 class="m-0 font-weight-bold text-primary">Ajout ecriture</h6>
            <label for=""><strong>Compte Comptable :</strong> </label>
            </div>
            
        </div>
        <div  class="card-body">
            <form [formGroup]="acritureForm"  (ngSubmit)="addEcriture()" >
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>


    <!-- DataTales Example -->
    <!--
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <div>
                <h6 class="m-0 font-weight-bold text-primary">Ajout ecriture</h6>
            <label for=""><strong>Compte Comptable :</strong>  {{compte.designation}}</label>
            </div>
            <button style="width: 215px;" type="submit" [disabled]="! dataForm.valid" class="btn btn-primary btn-user btn-block">
                Créer maintenant
            </button>
            
        </div>
        <div  class="card-body">
            
            <form class="row"  [formGroup]="dataForm" class="user" (ngSubmit)="addData()">

                
                <div style="display: flex; padding: 5px;" class="form-group">
                    <label for="">
                        Journaux
                    </label>
                    <select style="width: 215px;margin-left: 20px;" formControlName="journal" class="form-control ">
                        <option value="">veuillez choisir</option>

                        <option  [value]="saisie" *ngFor="let p of saisie">{{p}}</option>
                        
                    </select>

                    <div style="display: flex; margin-left: 15px;" class="form-group">
                        <label style="margin-right: 15px;" for="">Date</label>
                        <input style="width: 100px;" type="number" class="form-control " formControlName="date"id="exampleInputEmail"
                            aria-describedby="nameHelp" >
                    </div>

                    <div style="display: flex; margin-left: 15px;" class="form-group">
                        <label style="margin-right: 15px;" for="">N°.Pièce</label>
                        <input style="width: 100px;" type="number" class="form-control " formControlName="Num_piece"id="exampleInputEmail"
                            aria-describedby="nameHelp" >
                    </div>

                    <div style="display: flex; margin-left: 15px;margin-left: -587px;margin-top: 54px;" class="form-group">
                        <label style="margin-right: 15px;" for="">Libilée</label>
                        <input style="width: 250px;" type="text" class="form-control " formControlName="libilee"id="exampleInputEmail"
                            aria-describedby="nameHelp" >
                    </div>

                    <div style="display: flex; margin-left: 17px;margin-top: 57px;" class="form-group">
                        <label style="margin-right: 15px;" for="">Class</label>
                        <select style="width: 250px;margin-left: 20px;" formControlName="entitled" class="form-control ">
                            <option value="">veuillez choisir</option>
    
                            <option  [value]="class" *ngFor="let cl of class">{{cl.code}} <strong> | </strong> {{cl.entitled}}</option>
                            
                        </select>
                    </div>

                    
                    <div  style="margin-left: -647px;margin-top: 107px;display: flex;" class="form-group">
                        <label style="    margin-right: 15px;" for="">
                            Type
                        </label>
                        <select style="width: 142px;" formControlName="type" class="form-control ">
                            <option value="Normal">Debit</option>
                            <option value="Special">Crédit</option>
    
                        </select>
                    </div>
                    
                    <div  style="height: 37px;margin-top: 112px;" class="input-group">
                        <input style="margin-top: -5px; margin-left: 90px;" type="number" class="form-control" aria-label="Dinar amount (with dot and two decimal places)"formControlName="amount">
                        <span style="height: 38px;margin-top: -5px;border-radius: inherit;" class="input-group-text">DT</span>
                        <span  style="height: 38px;margin-top: -5px;border-radius: inherit;" class="input-group-text">{{ dataForm.value.amount | currency}}</span>
                    </div>
                  
                    
                
               
                    <div class="col-6 col-md-4">
                        <button style="width: 140px;margin-top: 108px;height: 40px" type="submit" [disabled]="! dataForm.valid" class="btn btn-primary btn-user btn-block">
                            Créer maintenant
                        </button>
                    </div>


                </div>

              

                <div class="form-group my-2" *ngIf="errMsg!=''">
                    <div class="alert alert-danger">
                        {{errMsg}}
                    </div>
                </div>
                <div class="form-group my-2" *ngIf="successMsg!=''">
                    <div class="alert alert-success">
                        {{successMsg}}
                    </div>
                </div>

            </form>


        </div>
    </div>-->
</div>